{% extends "main.html" %}
{% block roster_active %}active{% endblock %}
{% block title %}Guild Roster{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <h1>Guild Roster</h1>

            {% for member in guild_roster %}
                {% include 'include/member.html' with member=member div_id='youractive' %}
                <br>
            {% endfor %}

        </div>
    </div>
{% endblock %}
